@{
    ViewBag.Title = "Payment Cancelled";
}


<div class="heads" style="background: url(/public/img/brewery-back1.jpg) 50% 27%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><span>//</span> Wait just a minute</h2>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Sorry, the payment was cancelled</h3>
                <p>Your payment was not successful. Please try again.</p>
            </div>
        </div>
    </div>
</div>

