@{
    ViewBag.Title = "Thank You";
}

<div class="heads" style="background: url(/public/img/brewery-back1.jpg) 50% 27%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><span>//</span> Thank You</h2>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Thank You</h3>
                <p>Your payment was successful. See you at the brewery Tour!</p>
            </div>
        </div>
        
        <ul class="nav nav-pills nav-wizard">
            <li class="active"><a href="#" data-toggle="tab">Home</a></li>
            <li><a href="#" data-toggle="tab">About</a></li>
            <li><a href="#" data-toggle="tab">Contact</a></li>
        </ul>

    </div>
</div>



